<p>login Component Html Page</p>

<button (click)="goBack()">Back</button>

<div>
  <h3 [style.color]="'green'" >Login</h3>
  <hr/>
  <label [ngStyle]="myStyles">Username: </label>

  <input type="text" [(ngModel)]="userName" />

  <label class="my-style">Password: </label>
  <input type="text" [(ngModel)]="password" />

</div>
<h4>User name entered: {{userName}}</h4>
<h4>User name entered: {{password}}</h4>
<button (click)="dashboard()" >dashboard</button>
<button (click)="user()">User</button>