<h1>Home component</h1>
<h3>Date: {{today | date: 'dd/MMM/yyyy'}}</h3>
<label appHighlight>{{name | lowercase}}</label>
<div>{{student.name | custom}}</div>
<p appHighlight> Directive example</p>
<ul>
  <li *ngFor="let fruit of fruits">{{fruit.name}}</li>
</ul>

<ol *ngIf="name =='Test'">
  <li *ngFor="let fruit of fruits">{{fruit.id}}</li>
</ol>

<button routerLink="/login">Login</button>
<br>
<br>
<button (click)="goToUserComponent()">goToUserComponent</button>
<br>
<br>
<button (click)="getUserData()">API CALL</button>

<h3>{{userData?.name}}</h3>
<h3>{{userData?.grade}}</h3>
<div *ngFor="let place of userData?.placesToVisit">
  <p>{{place}}</p>
</div>


<div>
  <button routerLink="/products">Products</button>
</div>
